@import url('https://fonts.googleapis.com/css?family=Roboto');

.scroller {
    position: relative; /* relative or absolute positioning required by Perfect Scrollbar */
    max-height: 100%;  /* height must be limited to induce scrolling behavior */
    width: 100%;
}

#right-panel > .scroller > .ps-scrollbar-y-rail > .ps-scrollbar-y,
.middle-view > .scroller > .ps-scrollbar-y-rail > .ps-scrollbar-y,
#left-panel > .content > .scroller > .ps-scrollbar-y-rail > .ps-scrollbar-y {
	background-color: #546e7a !important;
}

#right-panel > .scroller:hover > .ps-scrollbar-y-rail:hover,
.middle-view > .scroller:hover > .ps-scrollbar-y-rail:hover,
#left-panel > .content > .scroller:hover > .ps-scrollbar-y-rail:hover {
	background-color: transparent !important;
}

#right-panel > .scroller > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y,
#right-panel > .scroller > .ps-scrollbar-y-rail:active > .ps-scrollbar-y,
.middle-view > .scroller > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y,
.middle-view > .scroller > .ps-scrollbar-y-rail:active > .ps-scrollbar-y,
#left-panel > .content > .scroller > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y,
#left-panel > .content > .scroller > .ps-scrollbar-y-rail:active > .ps-scrollbar-y {
	width: 6px !important;
}

/* Rules for sizing the icon. */
.material-icons { -webkit-touch-callout: none; /* iOS Safari */
    			  -webkit-user-select: none; /* Safari */
     			  -khtml-user-select: none; /* Konqueror HTML */
        		  -moz-user-select: none; /* Firefox */
        		  -ms-user-select: none; /* Internet Explorer/Edge */
            	   user-select: none; /* Opera and Chrome */}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: #cfd8dc; }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* spinner */

#loading {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	left: 50%;
	top: 20%;
}
#loading2 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	left: 50%;
	top: 20%;
}
.circular {
	animation: rotate 2s linear infinite;
	height: 100px;
	position: relative;
	width: 100px;
}
.path {
	stroke-dasharray: 1,200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	stroke-linecap: round;
}
@keyframes rotate {
	100%{
		transform: rotate(360deg);
	}
}
@keyframes dash {
	0%{
		stroke-dasharray: 1,200;
		stroke-dashoffset: 0;
	}
	50%{
		stroke-dasharray: 89,200;
		stroke-dashoffset: -35;
	}
	100%{
		stroke-dasharray: 89,200;
		stroke-dashoffset: -124;
	}
}
@keyframes color {
	100%, 0%{
		stroke: #d62d20;
	}
	40%{
		stroke: #0057e7;
	}
	66%{
		stroke: #008744;
	}
	80%, 90%{
		stroke: #ffa700;
	}
}

/* own css */

body {
	font-family: 'Roboto', sans-serif;
	color: #eceff1;
	background-color: #263238;
	height: 100%;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
}

a {
    text-decoration: none;
	color: #eceff1;
	outline: 0;
	cursor: pointer;
}

button {
	cursor: pointer;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #7f8c92;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #7f8c92;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #7f8c92;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #7f8c92;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #7f8c92;
}

.page-container {
	height: calc(100% - 50px);
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

#left-panel {
	height: 100%;
	background-color: #37474f;
	-webkit-flex: 0 0 220px;
	-ms-flex: 0 0 220px;
	flex: 0 0 220px;
	width: 220px;
	z-index: 7;
}

#left-panel > .logo > img {
	width: 200px;
	height: 67px;
	padding: 10px;
}

#left-panel .content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: auto;
    position: relative;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: calc(100% - 154px);
}

#left-panel .search-bar {
    width: 85%;
    height: 35px;
    position: relative;
    background-color: #455a64;
    border: 1px solid #37474f;
    border-radius: 3px;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0 auto;
}

#left-panel .search-bar > input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border-radius: 3px;
    border: none;
    background-color: transparent;
    color: #eceff1;
}

#left-panel .main-menu {
	text-align: left;
	width: 100%;
	margin-top: 15px;
	font-size: 1.15rem;
	font-weight: 100;
}

#left-panel .main-menu .menu-item,
#left-panel .playlists .menu-item {
	width: 100%;
	padding: 8px 18px;
	cursor: pointer;
	box-sizing: border-box;
	max-width: 220px;
	border-right: 3px solid transparent;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#left-panel .main-menu .menu-item.active,
#left-panel .playlists .menu-item.active {
	background-color: #455a64;
	border-color: #00b0ff;
}

#left-panel .main-menu .menu-item i,
#left-panel .playlists .menu-item i {
	margin-right: 5px;
	float: left;
}

#left-panel .main-menu .main-item #text {
	top: -2px;
}

#left-panel .current-track {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 6px 8px 5px;
    border-top: 1px solid #455a64;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: absolute;
    bottom: 0;
    width: 204px;
    background-color: #37474F;
}

#left-panel .current-track > img {
    width: 55px;
    height: 55px;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

#left-panel .current-track > .info {
    margin-left: 10px;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 0;
}

#left-panel .current-track > .info > .artist-name {
    color: #cfd8dc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .9rem;
    cursor: pointer;
}

#left-panel .current-track > .info > .track-name {
    font-size: 1rem;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#left-panel .content .divider {
    height: 1px;
    width: calc(100% - 30px);
    box-sizing: border-box;
    background-color: #455a64;
    margin-top: 5px;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: 15px;
}

#left-panel .content .login-btns {
    padding: 15px 15px 10px;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-bottom: 10px;
    height: 27px;
}

#left-panel .content .login-btns>button {
	width: 48%;
	float: left;
}

#left-panel .content .login-btns>.login {
	margin-right: 4%;
}

#left-panel .playlists-container {
    width: 100%;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

#left-panel .playlists {
    text-align: left;
    width: 100%;
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 100;
    margin-bottom: 4px;
}

#left-panel .playlists h2 {
    font-size: 1.1rem;
    padding: 6px 18px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 100;
}

#left-panel .playlists h2 i {
    display: inline-block;
    float: right;
    cursor: pointer;
    position: relative;
    bottom: 1px;
}

.current-user {
    width: 100%;
    padding: 10px 15px 0;
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-bottom: 10px;
    height: 50px;
}

.current-user > img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    float: left;
}

.current-user > .username {
	padding-top: 12px;
	float: left;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
}

.current-user > .logout {
	padding-top: 10px;
	float: right;
	cursor: pointer;
}

.middle-view {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	height: 100%;
	position: relative;
	background-color: #263238;
	overflow: hidden;
}

#right-panel {
	height: calc(100% - 141px);
	width: 250px;
	background-color: #37474f;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

#right-panel.queue {
	cursor: default;
	position: relative;
}

#right-panel.queue .track.playing {
	background-color: #00b0ff;
}

#right-panel.queue .track {
	padding: 5px 8px;
	background-color: #455a64;
	margin-bottom: 6px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}

#right-panel.queue .track > .image {
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: 11px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

#right-panel.queue .track > .image > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#right-panel.queue .track > .image > .indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(0,0,0,.3);
	font-size: 30px;
	display: none;
}

#right-panel.queue .track:hover > .image > .indicator {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

#right-panel.queue .track .info {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	white-space: nowrap;
	max-width: 68%;
}

#right-panel.queue .track .info > .track-name {
	font-size: .95rem;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #eceff1;
}

#right-panel.queue .track .info > .artist-name {
	color: #cfd8dc;
	font-size: .75rem;
	max-width: 95%;
	overflow: hidden;
	text-overflow: ellipsis;
}

#right-panel .remove {
	color: #eceff1;
    cursor: pointer;
    max-width: 20px;
    display: none;
    height: 100%;
    position: absolute;
    top: 15px;
    right: 15px;
}

#right-panel.queue .track:hover .remove {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

#queue-controls {
	position: absolute;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	z-index: 8;
	background-color: transparent;
	margin-left: 60px;
	display: none;
}

#right-panel.queue:hover + #queue-controls,
#queue-controls:hover {
	display: block;
}

#queue-controls > div {
	background-color: #37474F;
	border-radius: 50%;
	height: 36px;
	width: 36px;
	margin-top: -40px;
	cursor: pointer;
}

#queue-controls > div.save {
	margin-left: 51px;
	margin-top: -36px;
}

#queue-controls > div.share {
	margin-left: 102px;
	margin-top: -36px;
}

#queue-controls > div > i {
	padding: 6px;
}

#player {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 250px;
	height: 140px;
	bottom: 0;
	right: 0;
	top: auto;
	left: auto;
	position: absolute;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	z-index: 7;
	background-color: #000;
}

.player-container {
	background-color: #263238;
	color: #cfd8dc;
	-webkit-flex: 0 0 50px;
	-ms-flex: 0 0 50px;
	flex: 0 0 50px;
	width: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	border-top: 1px solid #37474f;
	position: relative;
}

.player-container .buttons {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 20px 0 15px;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.player-container .buttons i {
	cursor: pointer;
}

.player-container .buttons .repeat {
	margin: 0 10px 0 10px;
}

.player-container .buttons .shuffle.shuffling,
.player-container .buttons .repeat.repeating,
.player-container .buttons .repeat.repeating-one {
	color: #00b0ff;
}

.progress-container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #90a4ae;
	font-size: 13px;
}

.progress-bar {
	height: 41px;
	margin: 0 10px;
	position: relative;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	cursor: pointer;
	display: inline-block;
}

.progress-bar > .elapsed {
	position: absolute;
	top: 18px;
	background-color: #00b0ff;
	width: 0;
	height: 5px;
	z-index: 2;
}

.progress-bar > .progress {
	position: absolute;
	top: 18px;
	background-color: #37474f;
	height: 5px;
	width: 100%;
	z-index: 1;
}

.player-container .volume-container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 5px;
}

.player-container .volume-container > .volume-bar {
	height: 41px;
	margin: 0 10px;
	position: relative;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	cursor: pointer;
	display: inline-block;
}

.player-container .volume-container > .volume-bar > .elapsed {
	position: absolute;
	width: 0;
	height: 5px;
	background-color: #00b0ff;
	z-index: 1;
	top: 18px;
}

.player-container .volume-container > .volume-bar > .progress {
	width: 90px;
	height: 5px;
	background-color: #37474f;
	position: relative;
	display: inline-block;
	cursor: pointer;
	top: 18px;
}

.home-page {
	padding: 10px 15px;
}

.filter-bar {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 1px solid #37474f;
	padding-bottom: 10px;
	margin: 10px 15px;
}

.filter-bar > .sort {
	position: relative;
	z-index: 5;
	font-size: 1.2rem;
	color: #cfd8dc;
	-webkit-flex: 1 1 65%;
	-ms-flex: 1 1 65%;
	flex: 1 1 65%;
	padding-top: 13px;
}

.filter-bar > .filter {
	background-color: #37474f;
	height: 35px;
	-webkit-flex: 1 1 35%;
	-ms-flex: 1 1 35%;
	flex: 1 1 35%;
	max-width: 330px;
	position: relative;
	color: #cfd8dc;
}

.filter-bar > .filter > input {
	width: 100%;
	height: 100%;
	border: none;
	padding: 0 10px 0 30px;
	background-color: #37474f;
    color: #eceff1;
}

.filter-bar > .filter > i {
	position: absolute;
	top: 9px;
	left: 5px;
}

.flex-table {
	display: flex;
	-webkit-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	font-size: .95rem;
	line-height: 1.5;
}

.album-table .flex-table-row {
	height: 42px;
}

.flex-table-row {
	width: 100%;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
}

.flex-table-row-item {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-flex-basis: 0;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	word-wrap: break-word;
	overflow-wrap: break-word;
	word-break: break-all;
	word-break: break-word;
	padding: .5em;
	border: 1px solid #37474f;
}

.flex-table-header,
.flex-table-row:hover.flex-table-header {
	font-weight: 500;
	background-color: #37474f;
	text-transform: uppercase;
}

.album-table .flex-table-row .flex-table-row-item {
	border-top: none;
	border-right: none;
	border-left: none;
	padding: 0;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.album-table .flex-table-row .flex-table-row-item.track-name,
.album-table .flex-table-row .flex-table-row-item.album-name {
	display: inline-block;
	padding: 10px;
}

.flex-table-header .flex-table-row-item {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.album-table .flex-table-row:hover .index {
    display: none;
}

.album-table .flex-table-row:hover .play-icon {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.album-table .playing:hover .pause-icon {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.album-table .playing:hover .play-icon {
    display: none;
}

.flex-table-row:hover {
    background-color: #2F3D44;
}

.album-table .playing {
    background-color: #3E515A;
    color: #00b0ff;
}

.album-table .playing .album-name,
.album-table .playing .album-name  a,
.album-table .playing .artists > .artist,
.album-table .playing .artists > .artist > a,
.album-table .playing .track-duration {
    color: #00b0ff;
}

.album-table .pause-icon,
.album-table .play-icon {
    display: none;
    background-color: #37474f;
    color: #dddde2;
    border-radius: 50%;
    font-size: .9rem;
    width: 27px;
    height: 27px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.album-table .add-remove-track,
.album-table .track-number {
	-webkit-flex-grow: .5;
	-ms-flex-positive: .5;
	flex-grow: .5;
	min-width: 50px;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #cfd8dc;
}

.album-table .add-remove-track:hover {
    color: #eceff1;
    cursor: pointer;
}

.album-table .album-name,
.album-table .artist-name,
.album-table .track-name {
	-webkit-flex-grow: 7;
	-ms-flex-positive: 7;
	flex-grow: 7;
	padding-left: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.album-table .artist-name .artists {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	color: #cfd8dc;
	max-width: 87%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.album-table .artists,
.album-table .artists > .artist:first-of-type {
    padding-left: 0;
}

.album-table .artists > .artist {
    cursor: pointer;
}

.album-table .album-name {
	color: #cfd8dc;
}

.album-table .popularity,
.album-table .track-duration {
	-webkit-flex-grow: .6;
	-ms-flex-positive: .6;
	flex-grow: .6;
	color: #cfd8dc;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	min-width: 50px;
}

.album-table .popularity-widget > .popularity-fill {
    height: 100%;
    background-color: #cfd8dc;
}

.album-table .popularity-widget {
    width: 70%;
    height: 6px;
    position: relative;
    background-color: #78909c;
}

#album-page {
	width: calc(100% - 50px);
	padding: 25px;
	margin: 0 auto;
}

nav {
    border-bottom: 1px solid #37474f;
    padding: 15px 20px 0;
}

nav > h1 {
    font-weight: 500;
}

.artists-albums {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 30px 20px 20px;
}

.artists-albums > .items-panel {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
    overflow: hidden;
}

.artists-albums > .items-panel > .header {
    padding: 10px;
    text-transform: uppercase;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.media-col > .artists-albums > .items-panel > .header {
	padding: 5px;
	padding-bottom: 0;
}

.artists-albums > .items-panel > .header > .name {
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    color: #b0bec5;
}

.artists-albums .artists {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.artists-albums .artists > .artist {
    background-color: #37474f;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    margin: 0 6px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	min-width: calc(25% - 12px);
	max-width: calc(25% - 12px);
}

.artists-albums .artists > .artist .image > img {
	width: 100%;
	object-fit: cover;
}

.artists-albums .artists > .artist .info {
    white-space: nowrap;
    padding: 8px;
    text-align: center;
    font-size: .9rem;
    height: 40px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.artists-albums .artists > .artist .info  .name {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    cursor: pointer;
}

.artists-albums .artists > .artist .info > .artist-name {
	padding-top: 2px;
	color: #b0bec5;
	overflow: hidden;
	text-overflow: ellipsis;
}

.artist-header {
    min-height: 250px;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.artist-header > .header-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-bottom: 20px;
    background: linear-gradient(to bottom,#13191C -80%,#263238 100%);
}

.artist-header .artist-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 20px 0 0 40px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border: 3px solid #37474f;
}

.artist-header .artist-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artist-header .artist-info {
    padding: 0 0 7px 30px;
    position: relative;
    z-index: 1;
}

.artist-header .artist-info > h1 {
    font-weight: 300;
    margin: 0 0 5px;
    font-size: 3rem;
    color: #eceff1;
    line-height: 1;
}

.artist-header .artist-info > .genres {
    margin-bottom: 25px;
}

.artist-header .artist-info > .genres > .genre {
    display: inline-block;
    padding-right: 10px;
    text-transform: capitalize;
    color: #b0bec5;
    cursor: pointer;
}

.navigation {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.1rem;
    margin: 25px 40px 0;
    border-bottom: 1px solid #455a64;
    color: #b0bec5;
}

.navigation > .nav-item {
    margin-right: 20px;
    border-bottom: 3px solid transparent;
        border-bottom-color: transparent;
    padding-bottom: 7px;
    cursor: pointer;
}

.navigation > .nav-item.active {
    border-color: #00b0ff;
}

.artist-body {
    padding: 25px 40px 0;
}

.artist-body > .tab > .media-col {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 70%;
    position: relative;
    float: left;
}

.artist-body h4 {
    font-weight: 400;
    color: #b0bec5;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.top-tracks .flex-table .track-image {
    position: relative;
    cursor: pointer;
    padding-right: 20px;
    overflow: hidden;
    max-width: 40px;
}

.top-tracks .flex-table .track-image .play-icon,
.top-tracks .flex-table .track-image .pause-icon {
	position: absolute;
	height: 40px;
	width: 40px;
	background-color: rgba(0,0,0,0.5);
	top: 1px;
	border-radius: 0;
}

.top-tracks .flex-table .add-remove-track {
    -webkit-flex-grow: .9;
    -ms-flex-positive: .9;
    flex-grow: .9;
    max-width: 50px;
}

.top-tracks > .flex-table > .flex-table-row > .flex-table-row-item > img {
	width: 40px;
	height: 40px;
}

.top-tracks .flex-table .ellipses {
	max-width: 95%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.artist-body > .tab > .info-col {
    width: 30%;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    float: left;
}

.info-col .similar-artists {
    margin-left: 20px;
}

.info-col .similar-artists .artist {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    margin-bottom: 4px;
    background-color: #37474f;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 3pc;
    cursor: pointer;
}

.info-col .similar-artists .artist a {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	width: 100%;
	cursor: pointer;
}

.info-col .similar-artists .artist img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.media-col .artists-albums {
	padding: 0;
	margin-left: -5px;
}

#artist-page.items-panel {
	width: 100%;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	overflow: auto;
}

#artist-page .artists .info {
	padding: 0;
}

#album-page .album-header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
}

#album-page .album-header > .album-image {
    margin-right: 15px;
}

#album-page .album-header > .album-image > img {
    height: 225px;
    width: 225px;
    object-fit: cover;
}

#album-page .album-header > .info {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 100%;
    padding-top: 30px;
    padding-left: 20px;
}

#album-page .album-header > .info > .album-name {
    font-size: 3rem;
    font-weight: 100;
    max-width: 70%;
}

#album-page .album-header > .info .artist-name {
    font-size: 1.1rem;
    color: #C2C2CA;
}

#album-page .album-header > .info > .album-info {
    margin-top: 18px;
}

#album-page .album-header > .info > .album-info > .info-container {
    margin-bottom: 2px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.05rem;
}

#album-page .album-header > .info > .album-info > .info-container > .name {
    margin-right: 5px;
    min-width: 90pt;
    color: #9999a6;
}

#album-page .album-header > .info > .album-info > .info-container > .value {
    font-weight: 500;
}

.artists-albums .albums {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.artists-albums .albums > .album {
    background-color: #37474f;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    margin: 0 6px 12px 6px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	min-width: calc(25% - 12px);
	max-width: calc(25% - 12px);
}

.artists-albums .albums > .album .image > img {
	width: 100%;
	object-fit: cover;
}

.artists-albums .albums > .album .info {
    white-space: nowrap;
    padding: 8px;
    text-align: center;
    font-size: .9rem;
    height: 40px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.artists-albums .albums > .album .info > .name {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    cursor: pointer;
}

#login-page {
	width: 100%;
	height: 100%;
}

#login-page .wrapper {
	position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 250px;
}

#login-page.register .wrapper {
	height: 400px;
}

#login-page .wrapper img {
	width: 300px;
	height: 100px;
	padding-left: 50px;
	padding-bottom: 20px;
}

#login-page .form .email,
#login-page .form .password,
#login-page .form .firstname,
#login-page .form .lastname {
    width: 100%;
    height: 35px;
    position: relative;
    background-color: #455a64;
    border: 1px solid #37474f;
    border-radius: 3px;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0 auto;
    margin-bottom: 10px;
}

#login-page .form .email.disabled,
#login-page .form .password.disabled,
#login-page .form .firstname.disabled,
#login-page .form .lastname.disabled {
	border-color: #ff1744;
}

#login-page .form .email > input,
#login-page .form .password > input,
#login-page .form .firstname > input,
#login-page .form .lastname > input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border-radius: 3px;
    border: none;
    background-color: transparent;
    color: #cfd8dc;
}

#login-page .form .info {
	width: 100%;
	padding-bottom: 5px;
	text-align: center;
	color: #ff1744;
}

#login-page .form .login {
	float: right;
	width: 100px;
}

button.primary {
	background-color: #00b0ff;
	border: none;
	padding: 5px;
	width: 100%;
	border-radius: 5px;
	color: #cfd8dc;
    outline:none;
}

button.secondary {
	background-color: #3d5059;
	border: none;
	padding: 5px;
	width: 100%;
	border-radius: 5px;
	color: #cfd8dc;
    outline:none;
}

figure.album {
	width: calc(20% - 30px);
    margin: 0;
    padding: 15px;
    float: left;
}

figure.album img {
	width: 100%;
}

figure.album > figcaption {
    white-space: nowrap;
    padding: 8px;
    text-align: center;
    font-size: .9rem;
    height: 40px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #37474f;
}

figure.album > figcaption > a {
	overflow: hidden;
    text-overflow: ellipsis;
}

figure.album > figcaption > .artist-name {
	color: #B0BEC5;
}