<div style="text-align:center;"><p><br><br>
Hi there!<br>
<h3>Die Webseite ist noch in Entwicklung!</h3><br>
Currently the navigation on the left side only provides the top 50 most played songs worldwide.<br>Other features you can use are the basic functionalities of the music player, browsing by clicking on artist/album names and similar.<br><br>

If you happen to encounter any bugs, pls contact me directly or create a issue in <a href="https://github.com/scriptinglinux/cosy">the git repository</a>. Improvements are also appreciated!<br><br>

<h4>HAVE FUN!</h4>
<br><br>
- Thomas
</p></div>