<div id="album-page">
<div class="album-header">
	<div class="album-image">
		<img ng-src="{{tracks[0].album.images[1].url}}" src="assets/img/album-no-image.png">
	</div>
	<div class="info">
		<div class="album-name">{{info.name}}</div>
		<div class="album-info">
			<div class="info-container">
				<div class="name">Created by:</div>
				<div class="value"><a ng-href="#!/user/{{info.ownerId}}">{{info.firstname}} {{info.lastname}}</a></div>
			</div>
			<div class="info-container">
				<div class="name">Running Length:</div>
				<div class="value">{{tracks.length}}</div>
			</div>
			<div class="info-container">
				<div class="name">Running Time:</div>
				<div class="value">{{player.convertMs(totalDuration())}}</div>
			</div>
		</div>
	</div>
</div>
<div class="flex-table album-table">
	<div class="flex-table-row flex-table-header">
		<div class="flex-table-row-item track-number">#</div>
        <div class="flex-table-row-item add-remove-track"></div>
        <div class="flex-table-row-item track-name">song</div>
        <div class="flex-table-row-item artist-name">artist</div>
        <div class="flex-table-row-item album-name">album</div>
        <div class="flex-table-row-item track-duration">
            <i class="material-icons md-light md-18">access_time</i>
        </div>
        <div class="flex-table-row-item popularity">
            <i class="material-icons md-light md-18">thumb_up</i>
        </div>
	</div>

	<div class="flex-table-row" ng-repeat="track in tracks" ng-class="{'playing': track.id == player.playing.track.id && player.playing.playing}">
        <div class="flex-table-row-item track-number">
            <span class="index">{{track.rank}}</span>
            <div class="play-icon" ng-click="player.toggleTrack(track)">
                <i class="material-icons md-light md-18">play_arrow</i>
            </div>
            <div class="pause-icon" ng-click="player.toggleTrack(track)">
                <i class="material-icons md-light md-18">pause</i>
            </div>
        </div>
        <div class="flex-table-row-item add-remove-track" ng-click="player.queueAdd(track)">
            <i class="material-icons md-light md-18">add</i>
        </div>
        <div class="flex-table-row-item track-name">{{track.name}}</div>
        <div class="flex-table-row-item artist-name">
            <div class="artists">
                <div class="artist" ng-repeat="artist in track.artists">
                    <span ng-if="!$first">,</span>
                    <a ng-href="#!/artist/{{artist.id}}">{{artist.name}}</a>
                </div>
            </div>
        </div>
        <div class="flex-table-row-item album-name"><a ng-href="#!/album/{{track.album.id}}">{{track.album.name}}</a></div>
        <div class="flex-table-row-item track-duration">{{ player.convertMs(track.duration_ms) }}</div>
        <div class="flex-table-row-item popularity">
            <div class="popularity-widget">
                <div class="popularity-fill" ng-style="{'width':track.popularity+'%'}"></div>
            </div>
        </div>
    </div>

</div>
</div>